# Snowflake connection details
SNOWFLAKE_ACCOUNT=your_org-your_account
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=DBT_ROLE
SNOWFLAKE_WAREHOUSE=DBT_WH
SNOWFLAKE_DATABASE=DBT_DB
SNOWFLAKE_SCHEMA=RAW
